<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
  <div class="parent">
  
  

  <h2> Login : Existing User </h2>
    <form action="/sessions" method="POST">
    <input type="hidden"name="authenticity_token"value="<%=form_authenticity_token%>">
      <input type="email" name="login[email]" placeholder="email">
      <input type="password" name="login[password]" placeholder="password">
      <input type="submit" name="submit" class="submit">
    </form>


<img class="dpic" src="https://78.media.tumblr.com/7ccef687fea3758ba8912142a5deb2c3/tumblr_oqxrawjrvk1qbmm1co1_500.gif">



 <h2> Register: New User </h2>
    <form action="/users" method="POST">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="name" name="user[name]" placeholder="name">
      <input type="email" name="user[email]" placeholder="email">
      <input type="password" name="user[password]" placeholder="password">
      <input type="password" name="user[password_confirmation" placeholder="password_confirmation">
      <input type="submit">
    </form>

</div>





    <script src="" ></script>
  </body>





</html>