ninjas Profile Page

<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <nav class="mainNav">
      <div class="navBtn">Subscribe</div>
      <div class="navBtn">Store</div>
      <div class="navBtn">Contact</div>
      <div class="navBtn">Donate</div>
      <img class="dic_pic" src="https://media.giphy.com/media/3rV45aYTmZUNK8fkWh/giphy.gif">
    </nav>

      <div class="area_container">
       <div class="main-view">
          <div class="midFlex">Buy Now: 
          Ninja Dick Excerise Manual  
          <div class="view_player"> Ninja Dick Workouts By Chapter</div>
          </div>



          <div class="video">
          <ul>
            <li>Series _ : Title  : 3:45</li>
            <li>Series _ : Title  : 3:45</li>
            <li>Series _ : Title  : 3:45</li>
            <li>Series _ : Title  : 3:45</li>
            <li>Series _ : Title  : 3:45</li>
          </ul>
         
          
          
          <div>



          </div>
       </div>
      </div>

 <div class="nd_logo">      
 <img style="height:150px;width:auto;margin-left:20%;" src="https://pixabay.com/static/uploads/photo/2014/04/03/09/57/ninja-309446_640.png" >
 <h1>NINJA DICK METHODS</h1>
</div>

    <script src=""></script>
  </body>
</html>
